<?xml version="1.0" encoding="utf-8"?>
        <manifest xmlns:android="http://schemas.android.com/apk/res/android"
            xmlns:tools="http://schemas.android.com/tools"
            package="com.example.thenotesapp">

            <!-- Permissions pour les fichiers et le stockage -->
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
                android:maxSdkVersion="28"/>

            <!-- Permission pour les notifications -->
            <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

            <!-- Permission pour démarrer au boot (pour les rappels) -->
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

            <application
                android:allowBackup="true"
                android:dataExtractionRules="@xml/data_extraction_rules"
                android:fullBackupContent="@xml/backup_rules"
                android:icon="@mipmap/ic_launcher"
                android:label="@string/app_name"
                android:roundIcon="@mipmap/ic_launcher_round"
                android:supportsRtl="true"
                android:theme="@style/Theme.TheNotesApp"
                tools:targetApi="31">
                <activity
                    android:name=".MainActivity"
                    android:exported="true">
                    <intent-filter>
                        <action android:name="android.intent.action.MAIN" />
                        <category android:name="android.intent.category.LAUNCHER" />
                    </intent-filter>
                    <meta-data
                        android:name="android.app.lib_name"
                        android:value=""/>
                </activity>
                <activity android:name=".NewNoteActivity" />
                <activity android:name=".NoteDetailsActivity" />
                <activity android:name=".EditNoteActivity" />

                <meta-data
                    android:name="preloaded_fonts"
                    android:resource="@array/preloaded_fonts" />

                <!-- Receiver pour les rappels -->
                <receiver
                    android:name=".receivers.NoteReminderReceiver"
                    android:enabled="true"
                    android:exported="false">
                    <intent-filter>
                        <action android:name="android.intent.action.BOOT_COMPLETED" />
                    </intent-filter>
                </receiver>

                <!-- Provider pour le partage de fichiers -->
                <provider
                    android:name="androidx.core.content.FileProvider"
                    android:authorities="${applicationId}.fileprovider"
                    android:exported="false"
                    android:grantUriPermissions="true">
                    <meta-data
                        android:name="android.support.FILE_PROVIDER_PATHS"
                        android:resource="@xml/file_paths" />
                </provider>

            </application>

        </manifest>